

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400);



.todo-block form {
display: flex;
flex-direction: row;



}

.todo-block form #button{
  height: 35px;
}
.todo-block form .form-outline{
  flex: auto;
}


/* .todo-block input{
padding: 4px 15px 4px 5px;
} */

/* .todo-block #button{
display: inline-block;
background-color:#fc999b;
color:#ffffff;
border-radius: 5px;
text-align:center;
margin-top:2px;
padding: 5px 15px;
} */

.todo-block #button:hover{
cursor: pointer;
opacity: .8;}

.todo-block ol {padding-left: 20px;}

.todo-block ol li {padding: 5px;color:#000;}

.todo-blockol li:nth-child(even){background: #dfdfdf;}

.todo-block .strike{text-decoration: line-through;}

.todo-block li:hover{
  cursor: pointer;
 }


.todo-block * {
  list-style: none;

}
.todo-block ol{
  padding: 0;
  
}

.todo-block  li{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo-block  li:nth-child(1n){
  background: rgba(190, 190, 190, 0.363);
  padding: 5px 10px;

}
.todo-block  li:nth-child(2n){
  background: rgba(255, 255, 255, 0.363) !important;
  padding: 5px 10px;
  
}
