<div class="navbar">
    <div class="container-fluid">
        <div class="left-icons">
            <!-- <div class="bars" data-mdb-toggle="modal" data-mdb-target="#sidebar">
                <i class="fa fa-bars"></i>
            </div> -->
            <div class="icon">zar<span class="c">c</span>omp</div>
        </div>
        <div class="right">

            <a class="btn btn-white btn-rounded" data-mdb-toggle="modal" data-mdb-target="#login-modal">Login</a>
            <a href="#" class="btn btn-rounded btn-primary" data-mdb-toggle="modal"
                data-mdb-target="#register-modal">Register</a>

            <div class="left-icons mx-2">
                <div class="bars" data-mdb-toggle="modal" data-mdb-target="#sidebar">
                    <i class="fa fa-bars"></i>
                </div>

            </div>
        </div>
    </div>
</div>